
<div class="card bg-dark text-dark">

  <div class="container-fluid">
    <div class="row bg-dark">

      <div class="col-md-2 p-2">
      <a href='/stock'>
        <div class="card border-success">
          <div class="card-body bg-primary text-light">
            <h4 class="card-title"><i class="fa-solid fa-list"></i>{{item_count_all}}</h4>
            <p class="card-text">คลังสินค้า</p>
          </div>
        </div>
      </a>
      </div>

      <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-notebook'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_notebook}}</h4>
				<p class="card-text">โน๊ตบุ๊ก</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-pc'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_computer}}</h4>
				<p class="card-text">คอมตั้งโต๊ะ</p>      
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-monitor'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_monitor}}</h4>
				<p class="card-text">จอแสดงผล</p>      
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-headphone'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_headphone}}</h4>
				<p class="card-text">หูฟัง</p>      
			</div>
			</div>
		</a>
      </div>


	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-keyboard'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_keboard}}</h4>
				<p class="card-text">แป้นพิมพ์</p>              
			</div>
			</div>
		</a>
      </div>



	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-Mount'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_mount}}</h4>
				<p class="card-text">เม้าส์</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-Extension'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_other}}</h4>
				<p class="card-text">อุปกรณ์เสริม</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="{%url 'filter-Office'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_office}}</h4>
				<p class="card-text">อุปกรณ์ออฟฟิต</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-Cable'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_cable}}</h4>
				<p class="card-text">สายสัญญาณ</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-Padmount'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_tinmount}}</h4>
				<p class="card-text">แผ่นรองเม้าส์</p>              
			</div>
			</div>
		</a>
      </div>

	  <div class="col-md-2 p-2 ">
		<a href="{% url 'filter-Phone'%}">
			<div class="card border-success">
			<div class="card-body bg-secondary text-light">
				<h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i>{{item_count_telephone}}</h4>
				<p class="card-text">โทรศัพท์</p>              
			</div>
			</div>
		</a>
      </div>

    </div>
  </div>
</div>
    
