{% extends 'base/layout.html'%}
{% block title %} Register Page {% endblock title%}
{% load crispy_forms_tags %}


{%block content %}

<div class="container mt-5">
    <div class="row">
		<div class="col-md-12">
			<div class="card border-success bg-dark text-light">
				<div class="card-body">
					<div class="card-body bg-dark text-light">

						<h4> เพิ่มพนักงานเข้าสู่ระบบ</h4> <hr>
						<div class="col-md-12 ">					
							<form method="POST">
								{% csrf_token %}
								<div class="row">
			
									<div class="col-md-10">
										{{ form_user.username|as_crispy_field}}						
									</div>

									<div class="col-md-12">
										{{ form_user.email|as_crispy_field}}
									</div>
			
									<div class="col-md-6">
										{{ form_user.first_name|as_crispy_field}}
									</div>
									<div class="col-md-6">
										{{ form_user.last_name|as_crispy_field}}
									</div>

									<div class="col-md-6">
										{{ form_user.password1|as_crispy_field}}
									</div>

									<div class="col-md-6">
										{{ form_user.password2|as_crispy_field}}
									</div>
		
									<div class="col-md-4">
										<button type="submit" class="btn btn-primary btn-block">บันทึก</button>
										
									</div>

									<div class="col-md-4">
										<a href='{% url "home-user" %}' class = 'btn btn-secondary btn-block'>ยกเลิก</a>
										
									</div>	
								</div>	
							</form>
						</div>
					</div>
				</div>
        </div>
    </div>
</div>

{%endblock content %}
