{% extends 'base/layout.html'%}
{% block title%} Add Position Page {% endblock title%}
{% load crispy_forms_tags %}


{% block content%}
<div class="container">	
	<div class="row mt-1">


		<div class="col-md-12">
			<div class="card border bg-dark text-light">
			  <div class="card-body">
				<h4>เพิ่มตำแหน่งงาน</h4><hr>
				<form action="" method="post">

					{% csrf_token %}
					{{ form |crispy}}

					<input type="submit" value="บันทึกข้อมูล" class="btn btn-primary ">
					<a href='{% url "home-user" %}' class = 'btn btn-secondary '>ยกเลิก</a>

				</form>

					
					


			  </div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="card border">
			  <div class="card-body bg-dark text-light">
				<h4>ค้นหาข้อมูล</h4><hr>
				<form method="GET" >
				{% csrf_token %}
				{{ filter }}
				<button type="submit" class="btn btn-primary"><i class="bi bi-search" ></i> </button>
				<a tpye='reset' class="btn btn-secondary " href="{% url 'add-position'%}"><i class="bi bi-arrow-clockwise"></i>  </a>
					
				</form>
			  </div>
			</div>

		</div>
		
		<div class="col-md-12">
			<div class="card border">

				<table class="table table-striped">      
					<thead class="bg-dark text-light">
						<tr>
							<th>ตำแหน่ง</th>
							<th><i class='far fa-edit' style='font-size:20px'></i>แก้ใข</th>

						</tr>
					</thead>
					
					<tbody>
						{% for positions in position %}
						<tr>
							<td class="col-sm-10 "> {{ positions.name }} </td>
							<td class="col-sm-2 ">
								<a href="{% url 'position-update' positions.id%}" class= "btn btn-warning"><i class="bi bi-pencil"></i></a>
								<a href="{% url 'position-delete' positions.id%}" class = "btn btn-danger"><i class="bi bi-x-circle"></i> </a>
							</td>

						</tr>
						{% endfor %}
					</tbody>          
				</table>
			</div>			
		</div>		
	</div>
</div>
{% endblock content %}


