{% extends 'base/layout.html'%}
{% block title%} Add Skill Page {% endblock title%}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
	<div class="row">

		<div class="col-md-12">
			
			<div class="card-border  bg-dark text-light p-3">
				<h4>เพิ่มหน้าที่ทำงาน</h4>
				<form action="" method="post">
					{% csrf_token %}
					{{ form |crispy }}

					<input type="submit" value="เพิ่มตำแหน่งงาน" class="btn btn-primary">
					<a href='{% url "home-user" %}' class = 'btn btn-secondary '>ยกเลิก</a>
				</form>
			</div>
		</div>

		<div class="col-md-12 mt-1">
			<div class="card border">
				
			  <div class="card-body bg-dark text-light">
				<h4>ค้นหาข้อมูล</h4>
				<form method="GET" action="#">
				{% csrf_token %}
				{{ filter }}
				<button type="submit" class="btn btn-primary"><i class="bi bi-search" ></i> </button>

				<a tpye='reset' class="btn btn-secondary " href="{%url 'add-skill'%}"><i class="bi bi-arrow-clockwise"></i>  </a>
	
				</form>
			  </div>
			</div>

		</div>
	</div>

	<div class="row">
		
		

		<div class="col-md-12">
			<div class="card border">

				<table class="table table-striped">      
					<thead class="bg-dark text-light">
						<tr>
							<th>ทักษะทำงาน</th>
							<th class="col-sm-2 text-center" ><i class='far fa-edit' style='font-size:20px'></i>แก้ใข</th>

						</tr>
					</thead>
					
					<tbody>
						{% for skill in skill %}
						<tr>

							<td class="col-sm-10 "> {{ skill.name }} </td>
							
							<td class="col-sm-2 text-center">
								<a href="{% url 'update-skill' skill.id %}" class = "btn btn-warning"><i class="bi bi-pencil"></i></a>
								<a href="{% url 'delete-skill' skill.id %}"class = "btn btn-danger" ><i class="bi bi-x-circle"></i></a>

							</td>
						</tr>
						{% endfor %}
					</tbody>          
				</table>

			</div>
			
		</div>

	</div>
</div>
{% endblock content %}