{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Dashboard User {% endblock title %}

{% block content%}
<div class="container-fluid">
	{% include 'html_user/navbar_user.html'%}

	<div class="row mt-1">

		<div class="col-md-12">
			<div class="card border">
			  <div class="card-body bg-dark text-light">
				<h4>ค้นหาข้อมูล</h4>
				<form method="GET">
				{% csrf_token %}
				{{ filter_user }}
					<button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> </button>
					<a tpye='reset' class="btn btn-secondary " href="{% url 'home-user'%}"><i class="bi bi-arrow-clockwise"></i>  </a>
					
				</form>
			  </div>
			  <div class="card border-success">

				<div class="card-body">
					<a class = "btn btn-success"href="{%url 'register'%}"> <i class="bi bi-person-add"></i> เพิ่มผู้ใช้งาน</a>
					<a class = "btn btn-success"href="{%url 'add-position'%}"><i class="bi bi-plus-circle-fill"></i> เพิมตำแหน่งงาน </a>
					<a class = "btn btn-success"href="{%url 'add-skill'%}"><i class="bi bi-plus-circle-fill"></i> เพิ่มความสามารถ </a>
				</div>
			  </div>
			</div>

		</div>

		<div class="col-md-12">
				<table class="table table-striped ">
	
					<thead class="bg-dark text-light">
					  <tr>
						<th> รูปภาพ </th>
						<th> รหัส </th>
						<th> ชื่อ </th>
						<th> ตำแหน่ง </th>
						<th> แผนก </th>        
						<th> ความสามารถ </th>        
						<th> วันเริ่มงาน </th>
						<th> สถานะ </th>
					  </tr>
					</thead>
					
					<tbody>
					  {% for user in page_user.object_list %}
					  <tr>
						<td><img src="{{ user.image_profile.url}}"  width="50" height="50" alt="..."></td>        
						<td> {{ user.username}}</td>
						<td> {{ user.nickname}}</td>
						<td> {{ user.position }}</td> 
						<td> {{ user.team}} </td>
						<td> {{ user.working_skill|truncatechars_html:10}} </td>
						<td> {{ user.worked_date}} </td>
						<td>
							
							<a href="{% url 'profile-update' user.pk %}" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
							
						
						</td>

					  </tr>
					  {% endfor %}
					</tbody>
				</table>
				<!-- Paginator-->
				<div class="row">
					<div class="col-md-12">
						
						<nav aria-label="Page navigation example">
							<p>Page {{page_user.number}}/{{page_user.paginator.num_pages}} </p>

							<ul class="pagination">
							<li class="page-item"> {% if page_user.has_previous%} <a class="page-link" href="{% url 'home-user'%}?page={{ page_user.previous_page_number }}">Previous</a> {% endif %} </li>
							
							{% for num_page in page_user.paginator.page_range %}
							
							
								{% if page.number == num_page %}
									<li class="page-item"><a class="page-link" href="{% url 'home-user'%}?page={{ num_page }}">{{ num_page }}</a></li>
								
								{% else %}
									<li class="page-item"><a class="page-link" href="{% url 'home-user'%}?page={{ num_page }}">{{ num_page }}</a></li>
								
								{% endif %}

							{% endfor %}

							<li class="page-item">{% if page_user.has_next%} <a class="page-link" href="{% url 'home-user'%}?page={{ page_user.next_page_number }}">Next</a>{% endif %} </li>
							</ul>

						</nav>
					</div>
				</div>
						

			</div>
		</div>
		
	</div>
	</div>
</div>

{% endblock content %}

