{% extends 'base/layout.html' %}
{% block title %} Edit User {% endblock title %}
{% load crispy_forms_tags %}


{% block content%}


<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="card border-success text-light">
              <div class="card-body bg-dark">

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-12">
                            <h2>ข้อมูลส่วนบุคคล</h2><hr style="height:1px;border-width:0;color:gray;background-color:white">
                        </div>

                        <div class="col-md-2">
                            {{ form.username|as_crispy_field}}
                        </div>

                        <div class="col-md-2">
                            {{ form.nickname|as_crispy_field}}
                        </div>

                        <div class="col-md-4">
                            {{ form.first_name|as_crispy_field}}
                        </div>

                        <div class="col-md-4">
                            {{ form.last_name|as_crispy_field}}
                        </div>

                        <div class="col-md-2">
                            {{ form.phone|as_crispy_field}}
                        </div>
                        

                        <div class="col-md-10">
                            {{ form.address|as_crispy_field}}
                        </div>

                        

                        <div class="col-md-4">
                            {{ form.image_profile|as_crispy_field}}
                        </div>

                        <div class="col-md-4">
                            {{ form.image_id_card|as_crispy_field}}
                        </div>

                        


                    </div><br><br>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h2>ข้อมูลการเงิน</h2><hr style="height:1px;border-width:0;color:gray;background-color:white">
                        </div>

                        <div class="col-md-2">
                            {{ form.bank_name|as_crispy_field}}
                        </div>

                        <div class="col-md-4">
                            {{ form.bank_username|as_crispy_field}}
                        </div>

                        <div class="col-md-4">
                            {{ form.bank_id|as_crispy_field}}
                        </div>

                        <div class="col-md-3">
                            {{ form.image_bank|as_crispy_field}}
                        </div>

                    </div><br><br>

                    <div class="row">
                        
                        <div class="col-md-12">
                            <h2>สิทธิ์การใช้งาน</h2><hr style="height:1px;border-width:0;color:gray;background-color:white">
                        </div>
    
                        <div class="col-md-3">
                            {{ form.permission|as_crispy_field}}
                        </div>

                         

                    </div><br><br>

                    <div class="row">
                        <div class="col-md-12">
                            <h2>ตำแหน่งหน้าที่</h2><hr style="height:1px;border-width:0;color:gray;background-color:white">
                        </div>
                        <div class="col-md-2">
                            {{ form.team|as_crispy_field}}
                        </div>

                        <div class="col-md-2">
                            {{ form.position|as_crispy_field}}
                        </div>

                        <div class="col-md-4">
                            {{ form.working_skill|as_crispy_field}}
                        </div>

                        <div class="col-md-4">
                            {{ form.working_experience|as_crispy_field}}
                        </div>

                    </div><br><br>

                    <div class="row mt-3">

                        <div class="col-md-12">
                            <h2>บันทึกหมายเหตุ</h2><hr style="height:1px;border-width:0;color:gray;background-color:white">
                        </div>

                        <div class="col-md-12">
                            {{ form.other|as_crispy_field}}
                        </div>
                    </div>

                    <input type="submit" value="update" class="btn btn-success btn-block ">
                    
                </form>
              </div>
            </div>
            
        </div>
    </div>
    
</div>




{% endblock content %}