{% extends 'base/layout.html' %}
{% block title%} Profile User {% endblock title %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-4 p-3">
			
			
			<div class="card border-success">
				<div class="card-body bg-dark text-light">	
					<div class="row">
						<div class="col-md-6">
							<img src="{{ profile.image_profile.url }}" width="200" height="200"class="rounded-circle" >
							<br><hr>
							<p><stong>เลขบัตรประชาชน : </stong> {{profile.bank_id}}
							<p><stong>รหัสประจำตัว : </stong> {{profile.username}}
							<p><stong>สังกัดฝ่าย : </stong> {{ profile.permission }}
							<a href='{% url "user-update" profile.username.pk %}' ><p><stong class = 'text-center' > รีเซ็ตพาสเวิร์ด </a>
						</div>
		
						<div class="col-md-6 p-3">
							<h2>ข้อมูลส่วนบุคคล</h2>
							<p><stong><li>ชื่อเล่น : </stong> {{profile.nickname}}
							<p><stong><li>ชื่อจริง : </stong> {{profile.username.first_name}}
							<p><stong><li>นามสกุล : </stong> {{profile.username.last_name}}
							<p><stong><li>เบอร์ติดต่อ : </stong> {{profile.phone}}
							<p><stong><li>user name : </stong> {{profile.username}}
							<p><stong><li>password : </stong> {{profile.password_login}}	
							
							<p><stong><li>อีเมลล์ : </stong> {{profile.username.email}}<hr>
							<a href='{% url "user-edit" profile.pk %}' ><p><stong class = 'text-center' > <i class="bi bi-database-fill"></i> แก้ใขข้อมูล</a>
							<a href='{% url "user-delete" profile.username.pk %}' ><p><stong class = 'text-center' > ลบข้อมูลออกจากระบบ </a>
							
						</div>
						
					</div>
						
				</div>	
			</div>
		</div>

		<div class="col-md-4 p-3">
			<div class="card border-success">
				<div class="card-body bg-dark text-light">	
					<div class="row">
						<div class="col-md-6 p-3 text-center">
							<img src="{{ profile.image_bank.url }}" width="200" height="200"class="rounded-circle" >
							<br><hr>

						</div>
		
						<div class="col-md-6 p-3">
							<h2>ข้อมูลทางการเงิน</h2>
							<p><stong><li>ชื่อธนาคาร : </stong> {{profile.bank_name}}
							<p><stong><li>ชื่อบัญชี : </stong> {{profile.bank_username}}
							<p><stong><li>เลขบัญชี : </stong> {{profile.bank_id}}
							<p><stong><li>เบอร์ติดต่อ : </stong> {{profile.phone}}<br><br><br>
							<a href='#'> <i class="bi bi-database-fill"></i> ดูข้อมูลเพิ่มเติม </a>
						</div>
						
					</div>
						
				</div>	
			</div>
		</div>
		<div class="col-md-4 p-3">
			<div class="card border-success">
				<div class="card-body bg-dark text-light">	
					<div class="row">
						<div class="col-md-5 p-3 text-center">
							<img src="{{ profile.image_bank.url }}" width="200" height="200"class="rounded-circle" >
							<br><hr>

						</div>
		
						<div class="col-md-7 p-3">
							<h2>ข้อมูลการทำงาน </h2>
							
							<p><stong><li>สังกัด : </stong> {{profile.permission}}
							<p><stong><li>ตำแหน่ง : </stong> {{profile.team }}
							<p><stong><li>หน้าที่ : </stong> {{profile.working_skill}}
							
							<p><stong><li>ประสบการทำงาน : </stong> {{profile.working_experience}}
							<p><stong><li>วันเริ่มงาน : </stong> {{profile.worked_date}}<br><br>
							<a href='#'> <i class="bi bi-database-fill"></i> ดูข้อมูลเพิ่มเติม </a>
						</div>
						
					</div>
						
				</div>	
			</div>
		</div>
	</div>
</div>


{% endblock content %}



