<div class="row ">

    <div class="col-md-2 p-2">
        <a href='#'>
        <div class="card border-success">
            <div class="card-body bg-info text-light">
            <h4 class="card-title">{{count_all}}</h4>
            <p class="card-text">ลูกค้าทั้งหมด</p>
            </div>
        </div>
        </a>  
    </div>

    <div class="col-md-2 p-2">
        <a href='#'>
        <div class="card border-success">
            <div class="card-body bg-success text-light">
            <h4 class="card-title">{{buy}}</h4>
            <p class="card-text">สมัครซื้อ</p>
            </div>
        </div>
        </a>  
    </div>

    <div class="col-md-2 p-2">
        <a href='#'>
        <div class="card border-success">
            <div class="card-body bg-danger text-light">
            <h4 class="card-title">{{nobuy}}</h4>
            <p class="card-text">สมัครไม่ซื้อ</p>
            </div>
        </div>
        </a>  
    </div>

    <div class="col-md-2 p-2">
        <a href='#'>
        <div class="card border-success">
            <div class="card-body bg-secondary text-light">
            <h4 class="card-title">{{count_thaibarn}}</h4>
            <p class="card-text">สลากไทบ้าน</p>
            </div>
        </div>
        </a>  
    </div>

    <div class="col-md-2 p-2">
        <a href='#'>
        <div class="card border-success">
            <div class="card-body bg-secondary text-light">
            <h4 class="card-title">{{count_huay_online}}</h4>
            <p class="card-text">หวยออนไลน์</p>
            </div>
        </div>
        </a>  
    </div>

    <div class="col-md-2 p-2 ">
      <a href="#">
          <div class="card border-success">
          <div class="card-body bg-secondary text-light">
              <h4 class="card-title">{{count_huay_football}}</h4>
              <p class="card-text">ฟุตบอล</p>              
          </div>
          </div>
      </a>
    </div>

    <div class="col-md-2 p-2 ">
      <a href="#">
          <div class="card border-success">
          <div class="card-body bg-secondary text-light">
              <h4 class="card-title">{{count_huay_casino}}</h4>
              <p class="card-text">คาสิโน</p>              
          </div>
          </div>
      </a>
    </div>

    <div class="col-md-2 p-2 ">
      <a href="#">
          <div class="card border-success">
          <div class="card-body bg-secondary text-light">
              <h4 class="card-title">{{count_huay_bacara}}</h4>
              <p class="card-text">บาคาร่า</p>              
          </div>
          </div>
      </a>
    </div>

    <div class="col-md-2 p-2 ">
        <a href="#">
            <div class="card border-success">
            <div class="card-body bg-secondary text-light ">
                <h4 class="card-title">{{count_huay_slot}}</h4>
                <p class="card-text">สล็อต</p>
            </div>
        </a>
    </div>
</div>