{% extends 'base/layout.html' %}
{% block title%} Profile User {% endblock title %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container">
	<div class="row ">
		
		<div class="col-md-12 ">
			<div class="border">
				<div class="card text-light bg-dark p-3">

					<h4>อัพเดดข้อมูล</h4><hr>


					<form method="post" enctype="multipart/form-data" >

						{% csrf_token %}
						{{ form_update_sale|crispy }}
						<hr>
						<button type="submit" class="btn btn-warning btn-block ">อัพเดด</button>
	
					</form>
				
				</div>
				<hr>
				
				
			</div>
		</div>
	</div>
</div>

{% endblock content %}